@media only screen and (min-width: 981px) {
    #vertical-menu-btn {
        display: none !important;
    }
}

#side-menu li:after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin: 10px;
  background: #2f3e46;
}

#side-menu li {
  margin: 15px 0;
}

#map {
  height: 97vh;
}

#fetch_tree_name {
  height: 85vh;
}

.tree_modal_name {
  margin: 20% 20px;
}

.header-title {
  font-size: 1.5rem;
}

#bft-ppdf-layout, #bft-ppdf-scale, #bft-ppdf-header, #bft-ppdf-footer, #bft-ppdf-margin {
  font-family: 'Vazirmatn', sans-serif;
}
